exportPattern(".") 
export(robustSD, rET, rRCMT, RCMTmle, nonlinearAR1.sim, ARlocpoly, sharpARlocpoly, ChengTS) 
importFrom("stats", "median", "rexp", "rbinom", "rlnorm", "acf", "coef", 
"dlnorm", "integrate", "nls", "nls.control", "optim", "rnorm", "uniroot", approx)
importFrom("KernSmooth", "locpoly", "dpill")
importFrom("locpol", "thumbBw", "gaussK")
             
